.navbar{
    background: #352245;
    
}
.fontf{
    font-family: 'Roboto Mono', monospace;
}
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 0px solid transparent;
    border-radius: .25rem;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
   
    background-size: 103% 100%;
    background-image: url('../../assets/image/menu.png');
}
.nav-link {
    display: block;
    padding: 1.1rem 1rem;
}