<div>
  <div class="card" >
    <div class="card-header">
      <div class="col">
        <div ngbDropdown class="d-inline-block glyphicon glyphicon-align-justify">
          <a class="" id="dropdownBasic1" ngbDropdownToggle>
            ชื่อวิชา
          </a>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <a ngbDropdownItem (click)="pageup()">อัพเดทชื่อ</a>
            <a ngbDropdownItem (click)="pageinfo()">ประวัติ</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row container">
        <div class="col-md-6">
           <h5 class="card-title">รหัสวิชา : ,ชื่อวิชา : </h5>
           <p class="card-text">เวลาเริ่มสอน : 09.00-11.50</p>
        </div>
        <div class="col-md-6 ">ห้องเรียน : CLB5202</div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3">
           <a class="btn btn-success btn-block" (click)="pageqr()" style="color:white;">QRcode</a>
        </div>
        <div class="col-md-3"><a class="btn btn-info btn-block" (click)="pageinfo()" style="color:white;">รายละเอียด</a></div>
        <div class="col-md-6 text-right">
            <a href="#" class="btn btn-danger" >ลบ</a>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>