<div class="container">
  <h1 class="text-center">Update Student</h1>
  <br>
  <div class="container">
    <button [hidden]="showB" class="btn-lg btn-block btn-info" (click)="show()" style="line-height: 1.5;">เพิ่ม
      นักศึกษา</button>
    <br>
    <div [hidden]="showlist">
      <form>
        <div class="form-row">
          <div class="col-3">
            <input type="text" class="form-control" #idstudent name="idstudent" placeholder="รหัสนักศึกษา">
          </div>
          <div class="col-4">
            <input type="text" class="form-control" #namefirst name="namefirst" placeholder="ชื่อ">
          </div>
          <div class="col-4">
            <input type="text" class="form-control" #namelast name="namelast" placeholder="สกุล">
          </div>
        </div>
        <br>
      </form>
      <div class="text-right">
        <button type="submit" class="btn-lg btn-success"
          (click)="addup(idstudent.value,namefirst.value,namelast.value)">ok</button>
        <button class="btn-lg btn-danger" id="close1" (click)="unshow()">ยกเลิก</button>
      </div>
    </div>

    <br>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3" style="text-align: center;"><label class="text-center">
        <h5>ค้นหา</h5>
      </label></div>
    <div class="col-md-4"><input type="text" class="form-control" placeholder="รหัสนักศึกษา" [(ngModel)]="search" />
    </div>
  </div>
  <br>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">เลขที่</th>
        <th scope="col">รหัสนักศึกษา</th>
        <th scope="col">ชื่อ</th>
        <th colspan="2" class="text-center">Update</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of course.students | formFilter:search ">
        <td class="text-center">{{s.number_id}}</td>
        <td>{{s.id_student}}</td>
        <td>{{s.name}}</td>
        <td><button class="btn-lg btn-block btn-success" (click)="showadd(content)">แก้ไข</button></td>
        <td><button type="submit" class="btn-lg btn-block btn-danger" (click)="delete(s.id_student)">ลบ</button></td>
        <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title">Edit</h4>
            <button type="button" class="close" aria-label="Close" id="close2" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-3">
                <label for="">รหัส นักศึกษา</label>
                <input type="text" class="form-control" #idstudent name="idstudent" value={{s.id_student}}>
              </div>
              <div class="col-4">
                <label for="">ชื่อ-นามสกุล</label>
                <input type="text" class="form-control" #name name="name" value={{s.name}}>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light"
              (click)="editstudent(idstudent.value,name.value,s.number_id)">save</button>
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
          </div>
        </ng-template>
      </tr>
    </tbody>
  </table>

  <div class="text-right">
    <button class="btn btn-primary" [routerLink]="['/']">กลับ</button>
  </div>
  <br>
</div>