<div class="container" *ngIf="course">
  <h1 class="text-center">Classroom Info</h1>
  <p>รหัสวิชา : {{course.course_id}}</p>
  <p>ชื่อวิชา : {{course.course_name}}</p>
  <p>เวลา : {{course.time}}</p>
  <table class="table table-bordered">
    <thead>
      <tr class="text-center">
        <th scope="col" >เลขที่</th>
        <th scope="col" >รหัสนักศึกษา</th>
        <th scope="col" >ชื่อ</th>
        <th colspan="16" >สัปดาห์</th>
        <th scope="col" >รวม</th>
      </tr>
      
    </thead>
    <tbody>
      <tr *ngFor="let s of course.students">
        <td class="text-center">{{s.number_id}}</td>
        <td>{{s.id_student}}</td>
        <td>{{s.name}}</td>
        <td *ngFor="let w of s.weeks | keyvalue" style="padding: 0.50rem;" class="text-center">
          <span >{{retest(w.value)}}</span>
        </td>
        <td class="text-center">{{ getTotal(s.weeks) }}</td>
      </tr>
     
      
      

    </tbody>
  </table>
  <div class="text-right">
    <a class="btn btn-primary" (click)="back()" style="color: white;">กลับ</a>
  </div>
  <br>
</div>