<div class="container">
  <h1 class="text-center">New Classroom</h1>
  <hr>

  <div class="form-group">
    <input class="btn btn-info " type="file" (change)="onFileChange($event)" multiple="false" />
    <div class="text-center">
      <div class="col-3 container">
          <hr>
      </div>
      <p>{{course}}</p>
      <p>{{time}}</p>
    </div>
    
    <button class="btn btn-success " (click)="upload()">Upload!</button>
<hr>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">เลขที่</th>
          <th scope="col">รหัสนักศึกษา</th>
          <th scope="col">ชื่อ-นานสกุล</th>
        </tr>
      </thead>
      <tbody *ngFor="let s of student">
        <tr>
          <th>{{s[0]}}</th>
          <td>{{s[1]}}</td>
          <td>{{s[2]}}</td>
        </tr>
      </tbody>
    </table>

  </div>