<!-- <div class="container">
    <div class="form-group">
        <label for="file">Choose File</label>
        <input type="file"
               id="file"
               (change)="handleFileInput($event.target.files)">
    </div>
</div> -->
<div class="container">
    <h1 class="text-center">New Classroom</h1>
    <form>
        <div class="form-group">
          <label for="FormControlFile1">Example file input</label>
          <input type="file" class="form-control-file" id="FormControlFile1">
        </div>
      </form>
</div>