
<div class="container">
    <h1 class="text-center">Start QRcode</h1>
        <div class="col-md-6 container" >
            <img src="" id="image" alt="" width="100%">
        </div>
    <button (click)="qrcode(course.id)">ปิด</button> 
    <table class="table">
            <thead>
              <tr>
                <th scope="col">เลขที่</th>
                <th scope="col">รหัสนักศึกษา</th>
                <th scope="col">ชื่อ</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>1234567890</td>
                <td>Otto</td>
              </tr>
            </tbody>
          </table>
</div>